$primary-color: #2A2A2A;
$blue: #3E4194;
$dark_blue:#080926;
$red:#FA0201;
$black:#000;
$gray:rgba(105, 105, 105, 0.72);
$dark_gray: #F7F7FB;
$white:#fff;
$light_blue: #F3F3FF;
$font: 'Regular';
$shadow: 0 4rem 3rem rgba($black, 0.05);
$shadow2: 0 0.7rem 3.5rem -0.5rem rgba($black, 0.1), 0 -0.5rem 1rem -0.6rem rgba($black, 0.1);
$shadow3: 0.5rem 0.8rem 4.6rem 0.5rem rgba(96, 49, 217, 0.1);