@font-face {
	font-family: "Light";
	src: url("../public/fonts/Poppins-Light.ttf");
  }
@font-face {
	font-family: "Regular";
	src: url("../public/fonts/Poppins-Regular.ttf");
  }
  @font-face {
	font-family: "Medium";
	src: url("../public/fonts/Poppins-Medium.ttf");
  }
  
  @font-face {
	font-family: "SemiBold";
	src: url("../public/fonts/Poppins-SemiBold.ttf");
  }
  
  @font-face {
	font-family: "Bold";
	src: url("../public/fonts/Poppins-Bold.ttf");
  }
  @font-face {
	font-family: "Black";
	src: url("../public/fonts/Poppins-Black.ttf");
  }
  